.darkBlue {
    background-color: rgb(4, 20, 65);
}

.lightBlue {
    background-color: rgb(219, 229, 255);
}

.grey {
    background-color:rgb(166, 166, 166);
}

.orange {
    background-color: rgb(236, 103, 60);
}
