<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>


</head>

<body onload='getVariables()'>
    <nav class="nav justify-content-end  navbar-light bg-light mt-2 p-3">
        <p>Sync Status: <span id='status' class='text-danger'>Not updated</span></p>
        <a name="" id="" class="btn btn-primary mx-2" onclick='sync()' href="#" role="button">Sync</a>
        <div id='loader' class='loader' style='display:none'></div>
    </nav>

    <div class="p-5 bg-light text-center">
        <h1 class="display-3">Convert your data to offline format</h1>
        <p class="lead">Here you can convert your crew's submitted forms to excel format. Do this when you have no
            internet connection and you need to store data offline.</p>
        <hr class="my-2">
        Ship ID <span id='shipId'></span>.
    </div>

    <div class='container d-flex mb-5'>
        <div class='m-auto text-center'>
            <h3 class='display-6 text-center text-decoration-underline'>Data Table</h3>

            <button type="button" class="btn btn-dark text-light rounded-2 "> <label id='importTable' for="file">Import
                    Table</label></button>
            <input type="file" class="button button-secondary m-2 w-50" style="display:none" id="file"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" multiple
                onchange="loadFile(event)">
        </div>
    </div>

    <div id="wrapper"></div>


    <nav class="nav fixed-bottom navbar-light bg-light justify-content-center ">
        <a class="nav-link" href="home.html">Home</a>
        <a class="nav-link" href="todo.html">Forms to do</a>
        <a class="nav-link" href="sendForm.html">Send out forms</a>
        <a class="nav-link" href="createNewForm.html">Create form</a>
        <a class="nav-link" href="maintenance.html">Maintenance</a>
    </nav>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.3/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>


    <script>
        var crewID = "";
        var crewType = "";
        var crewName = "";
        var shipId = "";

        function getVariables() {
            crewID = sessionStorage.getItem("crewID");
            crewType = sessionStorage.getItem("crewType");
            crewName = sessionStorage.getItem("crewName");
            shipId = sessionStorage.getItem("shipID");

            console.log(crewID);
            console.log(crewType);
            console.log(crewName);
            console.log(shipId);

            document.getElementById('shipId').innerHTML = shipId;
        }

        function sync() {
            loader = document.querySelector('#loader');
            console.log(status);

            loader.style.display = "";
            window.setTimeout(function () {
                document.getElementById('status').innerHTML = "Up to date";
                document.getElementById('status').className = "text-success";
                document.querySelector('#loader').style.display = "none";
            }, 3000)
        }

        function checkIfSync() {
            console.log("Sync")
            console.log(window.sessionStorage.sync)
            if (window.sessionStorage.sync === undefined) {
                console.log("notSync")
            } else {
                if (window.sessionStorage.sync) {
                    document.getElementById('status').innerHTML = "Up to date";
                    document.getElementById('status').className = "text-success";
                    document.querySelector('#loader').style.display = "none";
                }

            }
        }
        checkIfSync()


        function loadFile(e) {
            var reader = new FileReader();
            reader.readAsArrayBuffer(e.target.files[0]);
            reader.onload = function (e) {
                var data = new Uint8Array(reader.result);
                var wb = XLSX.read(data, { type: 'array' });
                var htmlstr = XLSX.write(wb, { sheet: "Customer Report", type: 'binary', bookType: 'html' });
                $('#wrapper')[0].innerHTML += htmlstr;
            }
        }

    </script>



    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>