<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/scheme.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/979f8a9a53.js" crossorigin="anonymous"></script>

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>


</head>

<body onload='getVariables()'>
    <nav class="nav justify-content-end navbar-light darkBlue text-light p-3">
        <p class="mt-2">App Status</p>
        <a name="" id="syncBtn" class="btn btn-danger mx-2 align-self-center " onclick='sync()' href="#"
            role="button">Sync</a>
        <div id='loader' class='loader' style='display:none'></div>
    </nav>

    <div class="p-1 darkBlue text-light text-center">
        <h1 class="display-3">Form Processed
        </h1>
        <p class="lead">Using the image you took, The Klaver App has created a digital form <br>
            If the inputs are incorrect or you wish to change them, do import your form template to the dynamic form
            creation using the button below
        </p>
        <p class="lead">
            <a class="btn btn-dark text-light" onclick="pushToDynamic()" role="button">Import form template to dynamic
                form creation</a>
        </p>
    </div>

    <hr>
    <div class="container">
        <h3 class="text-center">Your Form</h3>
        <div class="input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">Form Name</span>
            </div>

            <input type="text" class="form-control" style="width: 20px" placeholder="Enter form name">
        </div>
        <div id="formArea">
            <div class="mb-2 mt-3">
                <label for="" class="form-label">Name</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Crew ID</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Crew Number</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Ship ID</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Date Time</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <input type="datetime" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Daily Task List</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Task Progress</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">To-Do List</label>
                <a onclick='deleteEle(this)'><i class="far fa-times-circle" style='float:right'></i></a>
                <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
        </div>
        <div class="text-center mb-5">
            <button type="submit" id="finalise" onclick="redirect()" class="btn btn-dark text-light w-100 mt-2">Save
                form to
                presets</button>
        </div>
    </div>

    <div style="color: white;" class="my-5">
        Hello
    </div>

    <div style="color: white;" class="my-2">
        Hello
    </div>


    <nav class="nav fixed-bottom navbar-light justify-content-center darkBlue">
        <a class="nav-link text-decoration-none text-light" href="home.html"><i class="fas fa-home"></i> Home</a>
        <a class="nav-link text-decoration-none text-light" href="todo.html"><i class="fab fa-wpforms"></i> Forms to
            do</a>
        <a class="nav-link text-decoration-none text-light" href="sendForm.html"><i class="far fa-paper-plane"></i> Send
            out forms</a>
        <a class="nav-link text-decoration-none text-light" href="createNewForm.html"><i class="far fa-plus-square"></i>
            Create form</a>
        <a class="nav-link text-decoration-none text-light" href="maintenance.html"> <i class="fas fa-tools"></i>
            Ship Profile</a>
    </nav>

    <script>
        var crewID = "";
        var crewType = "";
        var crewName = "";
        var shipId = "";

        function deleteEle(element) {
            console.log(element)
            console.log(element.parentNode);
            parent = element.parentNode.parentNode;
            console.log(parent);
            parent.removeChild(element.parentNode);
        }

        function redirect() {
            alert('Form created successfully! Form is saved inside database.');
            window.location.replace('sendForm.html');
        }

        function pushToDynamic() {
            html = document.getElementById('formArea').innerHTML
            console.log(html);
            sessionStorage.setItem('html', html);
            window.location.replace('createFormTwo.html');
        }

        function getVariables() {
            crewID = sessionStorage.getItem("crewID");
            crewType = sessionStorage.getItem("crewType");
            crewName = sessionStorage.getItem("crewName");
            shipId = sessionStorage.getItem("shipID");

            console.log(crewID);
            console.log(crewType);
            console.log(crewName);
            console.log(shipId);

        }

        function sync() {
            loader = document.querySelector('#loader');
            console.log(status);

            loader.style.display = "";
            window.setTimeout(function () {
                btn = document.getElementById('syncBtn').classList;
                btn.add('bg-success')
                btn.remove('bg-danger')
                sessionStorage.setItem('sync', 'sync')
                document.querySelector('#loader').style.display = "none";
            }, 3000)
        }

        function checkIfSync() {
            console.log("Sync")
            console.log(window.sessionStorage.sync)
            if (window.sessionStorage.sync === undefined) {
                console.log("notSync")
            } else {
                if (window.sessionStorage.sync) {
                    btn = document.getElementById('syncBtn').classList;
                    btn.add('bg-success')
                    btn.remove('bg-danger')
                    document.querySelector('#loader').style.display = "none";
                }

            }
        }


        checkIfSync()
    </script>



    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>