<!doctype html>
<html lang="en">

<head>
    <title>Crew Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/scheme.css">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/979f8a9a53.js" crossorigin="anonymous"></script>

</head>

<body onload="getVariables()">
    <nav class="nav justify-content-end navbar-light darkBlue text-light p-3">
        <p class="mt-2">App Status</p>
        <a name="" id="syncBtn" class="btn btn-danger mx-2 align-self-center " onclick='sync()' href="#"
            role="button">Sync</a>
        <div id='loader' class='loader' style='display:none'></div>
    </nav>
    <div class="p-1 darkBlue text-light text-center">
        <h1 class="display-3">Your Details
            <br>
            <h5>
                <span id='name'></span>
                <br>
                Ship ID:<span id='shipId'></span>
            </h5>
        </h1>
        <h3>Crew Management</h3>
        <p class="lead">As part of higher management, you are able to view and edit the details of your crew members on
            your ship.
        </p>
    </div>

    <div class='container d-flex mb-5'>
        <div class='mt-2 w-100'>
            <div class="border border-dark rounded darkBlue text-light">
                <h3 class='display-6 text-center'>Your Ship Crew</h3>
            </div>

            <table class="table table-dark my-3">
                <thead>
                    <tr>
                        <th scope="col">Crew Name</th>
                        <th scope="col">Crew Type</th>
                        <th scope="col">Crew ID</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody id="table">
                </tbody>
            </table>

        </div>
    </div>

    <div style="color: white;" class="my-5">
        Hello
    </div>

    <div class="my-2" style="color: white;">
        Hello
    </div>

    <nav class="nav fixed-bottom navbar-light justify-content-center darkBlue">
        <a class="nav-link text-decoration-none text-light" href="home.html"><i class="fas fa-home"></i> Home</a>
        <a class="nav-link text-decoration-none text-light" href="todo.html"><i class="fab fa-wpforms"></i> Forms to
            do</a>
        <a class="nav-link text-decoration-none text-light" href="sendForm.html"><i class="far fa-paper-plane"></i>
            Send
            out forms</a>
        <a class="nav-link text-decoration-none text-light" href="createNewForm.html"><i class="far fa-plus-square"></i>
            Create form</a>
        <a class="nav-link text-decoration-none text-light" href="maintenance.html"> <i class="fas fa-tools"></i>
            Ship Profile</a>
    </nav>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

<script>

    if (sessionStorage.getItem('crewID') == null) {
        window.location.replace('../index.html')
    }

    var data = [
        { name: "Brandon Chris", type: "Ship Master", id: 111, picture: "", years: 2, trips: 52 },
        { name: "Caleb Cheong", type: "Ship Engineer", id: 122, picture: "", years: 1.35, trips: 32 },
        { name: "Ryan", type: "Crew Member", id: 002, picture: "", years: 1.55, trips: 14 },
        { name: "Gabrielle", type: "Crew Member", id: 003, picture: "", years: 0.55, trips: 6 }
    ]

    function getVariables() {
        crewID = sessionStorage.getItem("crewID");
        crewType = sessionStorage.getItem("crewType");
        crewName = sessionStorage.getItem("crewName");
        shipId = sessionStorage.getItem("shipID");

        console.log(crewID);
        console.log(crewType);
        console.log(crewName);
        console.log(shipId);


        document.getElementById("name").innerHTML = crewName + " (ID: " + crewID + ")";
        document.getElementById('shipId').innerHTML = shipId;
    }

    for (i = 0; i < data.length; i++) {
        ppl = data[i]
        str = `<tr>
                        <td>`+ ppl.name + `</td>
                        <td>`+ ppl.type + `</td>
                        <td>`+ ppl.id + `</td>
                        <td> <button class="btn btn-secondary text-light" onclick='checkDetails(`+ i + `)'>Edit Details</button></td>
                </tr>
        `
        document.getElementById('table').innerHTML += str
    }

    function checkDetails(idx) {
        ppl = data[idx]
        console.log(ppl);
        sessionStorage.setItem('crew', JSON.stringify(ppl));
        window.location.replace('crewManagementEdit.html');
    }

    function sync() {
        loader = document.querySelector('#loader');
        console.log(status);

        loader.style.display = "";
        window.setTimeout(function () {
            btn = document.getElementById('syncBtn').classList;
            btn.add('bg-success')
            btn.remove('bg-danger')
            sessionStorage.setItem('sync', 'sync')
            document.querySelector('#loader').style.display = "none";
        }, 3000)
    }

    function checkIfSync() {
        console.log("Sync")
        console.log(window.sessionStorage.sync)
        if (window.sessionStorage.sync === undefined) {
            console.log("notSync")
        } else {
            if (window.sessionStorage.sync) {
                btn = document.getElementById('syncBtn').classList;
                btn.add('bg-success')
                btn.remove('bg-danger')
                document.querySelector('#loader').style.display = "none";
            }

        }
    }

    checkIfSync()

</script>

</html>