<!doctype html>
<html lang="en">

<head>
    <title>To Do Forms</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/scheme.css">



    <!-- Icons -->
    <script src="https://kit.fontawesome.com/979f8a9a53.js" crossorigin="anonymous"></script>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>


</head>

<body onload='getVariables()'>
    <div class='container-fluid'>
        <div class='row'>
            <nav class="nav justify-content-end navbar-light darkBlue text-light p-3">
                <p class="mt-2">App Status</p>
                <a name="" id="syncBtn" class="btn btn-danger mx-2 align-self-center " onclick='sync()' href="#"
                    role="button">Sync</a>
                <div id='loader' class='loader' style='display:none'></div>
            </nav>

        </div>

        <div class='row'>
            <div class="p-1 darkBlue text-light text-center">
                <p class="lead">Export / Import Data.
                    <br>
                    This page allows you to export or import data. In the event that there is no internet
                </p>
            </div>
        </div>

    </div>


    <div class='container d-flex mb-5'>
        <div class='mt-2 w-100'>
            <div class="border border-dark rounded darkBlue text-light">
                <h3 class='display-6 text-center'>Form Datas in this system</h3>
            </div>
            <!-- Box -->
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Form ID</th>
                        <th scope="col">Form Name</th>
                        <th scope="col">Response Count</th>
                        <th scope="col">Lastest Response Time</th>
                        <th scope="col">More Info</th>
                    </tr>
                </thead>
                <tbody id='tableBody'>
                    <tr>
                        <td colspan='6' style='text-align:center'> There is no Data Present.</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div class='container justify-content-around'>
        <div class='row '>
            <div class='col-3'>
            </div>
            <div class='col-4'>
                <button type="button" class="btn btn-dark text-light rounded-2" onclick='exportData()'>Export
                    Data</button>
            </div>
            <div class='col-4'>
                <button type="button" class="btn btn-dark text-light rounded-2 "> <label id='importTable'
                        for="file">Import
                        Data</label></button>
                <input type="file" class="button button-secondary m-2 w-50" style="display:none" id="file" accept=".csv"
                    name="file" onchange="loadFile(event)">
            </div>
        </div>
    </div>

    <div class="my-5" style="color: white;">
        Hello
    </div>


    <div class="my-2" style="color: white;">
        Hello
    </div>



    <nav class="nav fixed-bottom navbar-light justify-content-center darkBlue">
        <a class="nav-link text-decoration-none text-light" href="home.html"><i class="fas fa-home"></i> Home</a>
        <a class="nav-link text-decoration-none text-light" href="todo.html"><i class="fab fa-wpforms"></i> Forms to
            do</a>
        <a class="nav-link text-decoration-none text-light" href="sendForm.html"><i class="far fa-paper-plane"></i> Send
            out forms</a>
        <a class="nav-link text-decoration-none text-light" href="createNewForm.html"><i class="far fa-plus-square"></i>
            Create form</a>
        <a class="nav-link text-decoration-none text-light" href="maintenance.html"> <i class="fas fa-tools"></i>
            Ship Profile</a>
    </nav>


    <script>

        if (sessionStorage.getItem('crewID') == null) {
            window.location.replace('../index.html')
        }

        var crewID = "";
        var crewType = "";
        var crewName = "";
        var shipId = "";

        var today = new Date();
        var date = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();


        function exportToCsv(filename, rows) {
            var processRow = function (row) {
                var finalVal = '';
                for (var j = 0; j < row.length; j++) {
                    var innerValue = row[j] === null ? '' : row[j].toString();
                    if (row[j] instanceof Date) {
                        innerValue = row[j].toLocaleString();
                    };
                    var result = innerValue.replace(/"/g, '""');
                    if (result.search(/("|,|\n)/g) >= 0)
                        result = '"' + result + '"';
                    if (j > 0)
                        finalVal += ',';
                    finalVal += result;
                }
                return finalVal + '\n';
            };

            var csvFile = '';
            for (var i = 0; i < rows.length; i++) {
                csvFile += processRow(rows[i]);
            }

            var blob = new Blob([csvFile], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(blob, filename);
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) { // feature detection
                    // Browsers that support HTML5 download attribute
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", filename);
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        }
        dates = document.querySelectorAll(".date");
        for (dt of dates) {
            dt.innerHTML = date;
        }

        function csvToArray(str, delimiter = ",") {
            const headers = str.slice(0, str.indexOf("\n")).split(delimiter);
            const rows = str.slice(str.indexOf("\n") + 1).split("\n");
            const arr = rows.map(function (row) {
                const values = row.split(delimiter);
                const el = headers.reduce(function (object, header, index) {
                    object[header] = values[index];
                    return object;
                }, {});
                return el;
            });
            return arr;
        }

        function showInfo(info, el) {
            infoNode = document.getElementById(info);
            ele = document.getElementById(el);
            if (infoNode.style.display == 'none') {
                infoNode.style.display = 'initial'
                ele.innerText = "Hide Details";
            } else {
                infoNode.style.display = 'none';
                ele.innerText = "Show Details";
            }

        }


        function sortOnKeys(dict) {

            var sorted = [];
            for (var key in dict) {
                sorted[sorted.length] = key;
            }
            sorted.sort();

            var tempDict = {};
            for (var i = 0; i < sorted.length; i++) {
                tempDict[sorted[i]] = dict[sorted[i]];
            }

            return tempDict;
        }

        function getVariables() {
            crewID = sessionStorage.getItem("crewID");
            crewType = sessionStorage.getItem("crewType");
            crewName = sessionStorage.getItem("crewName");
            shipId = sessionStorage.getItem("shipID");

            formData = sessionStorage.getItem("form1Data");



            formData = JSON.parse(formData)

            // test = new Date('11/10/2021 11:54 PM').getTime()

            allData = {}
            for (data of formData) {
                // console.log(data)
                formID = data[0]
                formName = data[1]

                if (formID in allData) {
                    allData[formID].count = allData[formID].count + 1

                    oldTime = allData[formID].lastestTime
                    oldTime = new Date(oldTime).getTime()

                    newTime = data[data.length - 1]
                    newTime = new Date(newTime).getTime()

                    if (newTime > oldTime) {
                        allData[formID].lastestTime = data[data.length - 1]
                    }

                } else {
                    allData[formID] = { "name": formName, 'count': 1, "lastestTime": data[data.length - 1] }
                }
            }

            newTableBody = ''
            row = 1
            allData = sortOnKeys(allData);

            for (id in allData) {
                console.log(id)
                tableRow = `<tr>
                        <th scope="row">`+ row + `</th>
                        <td>`+ id + `</td>
                        <td>`+ allData[id].name + `</td>
                        <td>`+ allData[id].count + `</td>
                        <td>`+ allData[id].lastestTime + `</td>
                        <td><button type="button" class="border rounded btn btn-light" onclick="window.location.href='/views/formAnalysis.html'">More</button></td>
                    </tr>`
                row++
                newTableBody += tableRow
            }

            document.getElementById('tableBody').innerHTML = newTableBody
        }

        function exportData() {
            time = new Date()
            fileName = "KlaverDataExport-" + time
            exportToCsv(fileName + ".csv", formData)
        }

        function importDate() {
        }
        function loadFile(e) {
            const input = e.target.files[0]
            const reader = new FileReader();

            reader.onload = function (e) {
                newOutput = e.target.result;
                newOutput = newOutput.split("\n")
                newAllData = []
                for (data of newOutput) {
                    data = data.split(',')
                    if (data.length != 1) {
                        newAllData.push(data)
                    }
                }
                console.log(newAllData)
                myStorage = window.sessionStorage;
                myStorage.form1Data = JSON.stringify(newAllData)
                alert("Data imported sucessfully, Click 'OK' to refesh the page")
                location.reload()
            };

            reader.readAsText(input);
        }


        function sync() {
            loader = document.querySelector('#loader');
            console.log(status);

            loader.style.display = "";
            window.setTimeout(function () {
                btn = document.getElementById('syncBtn').classList;
                btn.add('bg-success')
                btn.remove('bg-danger')
                sessionStorage.setItem('sync', 'sync')
                document.querySelector('#loader').style.display = "none";
            }, 3000)
        }

        function checkIfSync() {
            console.log("Sync")
            console.log(window.sessionStorage.sync)
            if (window.sessionStorage.sync === undefined) {
                console.log("notSync")
            } else {
                if (window.sessionStorage.sync) {
                    btn = document.getElementById('syncBtn').classList;
                    btn.add('bg-success')
                    btn.remove('bg-danger')
                    document.querySelector('#loader').style.display = "none";
                }

            }
        }
        checkIfSync()
    </script>



    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>