<!doctype html>
<html lang="en">

<head>
    <title>Departure Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href='../css/scheme.css'>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/979f8a9a53.js" crossorigin="anonymous"></script>

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>


</head>



<body onload='getVariables()'>
    <nav class="nav justify-content-end navbar-light darkBlue text-light p-3">
        <p class="mt-2">App Status</p>
        <a name="" id="syncBtn" class="btn btn-danger mx-2 align-self-center " onclick='sync()' href="#"
            role="button">Sync</a>
        <div id='loader' class='loader' style='display:none'></div>
    </nav>


    <div class="p-1 darkBlue text-light text-center">
        <h1 class="display-3">Pre-Departure Checklist
            <br>
            Form #002
        </h1>
        <p class="lead">
            Departing from: Singapore (SIN) | Ship ID: <span id='shipId'></span> | Username: <span id="username"></span>
            | User ID: <span id="userID"></span>
        </p>
    </div>
    <nav class="nav fixed-bottom navbar-light justify-content-center darkBlue">
        <a class="nav-link text-decoration-none text-light" href="home.html"><i class="fas fa-home"></i> Home</a>
        <a class="nav-link text-decoration-none text-light" href="todo.html"><i class="fab fa-wpforms"></i> Forms to
            do</a>
        <a class="nav-link text-decoration-none text-light" href="sendForm.html"><i class="far fa-paper-plane"></i>
            Send
            out forms</a>
        <a class="nav-link text-decoration-none text-light" href="createNewForm.html"><i class="far fa-plus-square"></i>
            Create form</a>
        <a class="nav-link text-decoration-none text-light" href="maintenance.html"> <i class="fas fa-tools"></i>
            Ship Profile</a>
    </nav>

    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class='my-2' style='text-align: center;'>
                    <span class='fs-6 text-dark w-100 p-2 rounded'>
                        Disclaimer : This is just a demo to show real-time form checking capability to ensure that data
                        keyed by the user is consistent
                    </span>

                </div>

            </div>
        </div>
        <div class='row'>
            <div class='col'>

                <label class="form-label">Date:</label>
                <div class="input-group mb-3">
                    <input type="text" id='dateInput' class="form-control" placeholder="DD/MM/YY" aria-label="Username"
                        aria-describedby="basic-addon1" disabled>
                </div>

            </div>
        </div>

        <div class='row'>
            <div class='col'>
                <label class="form-label">Name:</label>
                <div class="input-group mb-3">
                    <input type="text" id='nameInput' class="form-control" placeholder="Enter your name here in english"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col'>
                <label class="form-label">ART Test taken:</label>
                <div class="input-group mb-3">
                    <input type="number" onkeyup="checkWeatherInput()" id='weatherInput' class="form-control"
                        placeholder="Enter the number of ART tests you've had in the last week" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div style='text-align:center;'>
                    <label class="form-label bg-danger text-light w-100 rounded" style='display:none'
                        id='weatherInputWanring'>Please a
                        <b>valid</b> number of ART test (E.g. 1,2)</label>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col'>
                <label class="form-label">Vaccination Status:</label>
                <div class="input-group mb-3">
                    <input type="text" onkeyup="checkHeightInput()" id='heightInput' class="form-control"
                        placeholder="Enter your vaccination status" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div style='text-align:center;'>
                    <label class="form-label bg-danger text-light w-100 rounded" style='display:none'
                        id='heightInputWarning'>Enter a valid vaccination status. Please make sure
                        you enter <b>only</b> English characters</label>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col'>
                <label class="form-label">Number of items you are bringing on board (Itinerary): </label>
                <div class="input-group mb-3">
                    <input type="text" onkeyup="checkFuelInput()" id='fuelInput' class="form-control"
                        placeholder="Number of essentials" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div style='text-align:center;'>
                    <label class="form-label bg-warning text-light w-100 rounded" id='fuelInputWarning1'>Please
                        double
                        check your input.</label>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col'>
                <div id='buttton'>
                    <button type="button" class="btn btn-dark text-light w-100">Submit</button>
                </div>
                <div class='mt-3' style='text-align: center;'>
                    <span class='fs-6 grey rounded text-light w-100' id='submitwarning'>
                        If the submmited button is disabled. Ensure that you have filled up the form correctly
                    </span>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="my-5" style="color: white;">
        Hello
    </div>


    <div class="my-2" style="color: white;">
        Hello
    </div>



    <script>

        if (sessionStorage.getItem('crewID') == null) {
            window.location.replace('../index.html')
        }

        var crewID = "";
        var crewType = "";
        var crewName = "";
        var shipId = "";



        function getVariables() {
            crewID = sessionStorage.getItem("crewID");
            crewType = sessionStorage.getItem("crewType");
            crewName = sessionStorage.getItem("crewName");
            shipId = sessionStorage.getItem("shipID");

            console.log(crewID);
            console.log(crewType);
            console.log(crewName);
            console.log(shipId);


            document.getElementById("username").innerHTML = crewName;
            document.getElementById('shipId').innerHTML = shipId;
            document.getElementById('nameInput').value = crewName;
            document.getElementById('userID').innerHTML = crewID;
        }
        function sync() {
            loader = document.querySelector('#loader');
            console.log(status);

            loader.style.display = "";
            window.setTimeout(function () {
                btn = document.getElementById('syncBtn').classList;
                btn.add('bg-success')
                btn.remove('bg-danger')
                sessionStorage.setItem('sync', 'sync')
                document.querySelector('#loader').style.display = "none";
            }, 3000)
        }

        function checkIfSync() {
            console.log("Sync")
            console.log(window.sessionStorage.sync)
            if (window.sessionStorage.sync === undefined) {
                console.log("notSync")
            } else {
                if (window.sessionStorage.sync) {
                    btn = document.getElementById('syncBtn').classList;
                    btn.add('bg-success')
                    btn.remove('bg-danger')
                    document.querySelector('#loader').style.display = "none";
                }

            }
        }

        checkIfSync()

        today = new Date();
        date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
        document.getElementById("dateInput").value = date

        // form functions

        checker = {}

        for (i = 0; i < 3; i++) {
            checker[i] = false
        }

        // Whatever valid characters you want here
        var ENGLISH = {};
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789".split("").forEach(function (ch) {
            ENGLISH[ch] = true;
        });

        function stringIsEnglish(str) {
            var index;

            for (index = str.length - 1; index >= 0; --index) {
                if (!ENGLISH[str.substring(index, index + 1)]) {
                    return false;
                }
            }
            return true;
        }


        function checkWeatherInput() {
            value = document.getElementById('weatherInput').value
            // console.log(value)
            if (parseInt(value) <= 2 && parseInt(value) > 0) {
                document.getElementById('weatherInputWanring').style.display = 'none'
                checker[0] = true
            } else {
                document.getElementById('weatherInputWanring').style.display = 'block'
                checker[0] = false

            }
            checkChecker()
        }

        function checkHeightInput() {
            value = document.getElementById('heightInput').value
            console.log(value)
            if (stringIsEnglish(value)) {
                document.getElementById('heightInputWarning').style.display = 'none'
                checker[1] = true
            } else {
                document.getElementById('heightInputWarning').style.display = 'block'
                checker[1] = false
            }

            if (value.toLowerCase().includes('vaccinated') || value.toLowerCase().includes('vaccinate') || value.toLowerCase().includes('vaccine') || value.toLowerCase().includes('vaccination')) {
                document.getElementById('heightInputWarning').style.display = 'none'
                checker[1] = true
            } else {
                document.getElementById('heightInputWarning').style.display = 'block'
                checker[1] = false
            }
        }

        function checkFuelInput() {
            value = document.getElementById('fuelInput').value
            pastValue = 10


            percentageDiff = 100 - ((100 / 10) * value)
            percentageDiff = Math.abs(percentageDiff)

            console.log(percentageDiff)
            if (percentageDiff < 20) {
                document.getElementById('fuelInputWarning1').style.display = 'none'
                checker[2] = true
            } else {
                document.getElementById('fuelInputWarning1').innerText = 'WARNING : You current input is more than ' + percentageDiff + '% different compared to your pervious input for this option. Your last week input was 10, if the value is correct please proceed'
                document.getElementById('fuelInputWarning1').style.display = 'block'
                // checker[2] = false
                checker[2] = false

            }
            checkChecker()
        }

        function checkChecker() {
            res = true

            for (i in checker) {
                if (checker[i] == false) {
                    res = false
                    console.log(checker[i])

                }
            }
            console.log("res")
            console.log(res)
            if (res == true) {
                console.log("can")
                document.getElementById('buttton').innerHTML = `<button type="button" onclick='submitForm()' class="btn btn-dark text-light w-100">Submit</button>`
                document.getElementById('submitwarning').style.display = 'none'
            } else {
                console.log("cannot")
                document.getElementById('buttton').innerHTML = `<button type="button" onclick='submitForm()' class="btn btn-dark text-light w-100" disabled>Submit</button>`
                document.getElementById('submitwarning').style.display = 'block'
            }
        }

        checkChecker()

        console.log("test form data 1 start")
        console.log(window.sessionStorage.form1Data)
        console.log("test form data 1 end")

        function submitForm() {
            dateInput = document.getElementById('dateInput').value
            nameInput = document.getElementById('nameInput').value
            weatherInput = document.getElementById('weatherInput').value
            heightInput = document.getElementById('heightInput').value
            fuelInput = document.getElementById('fuelInput').value
            var now = new Date().toLocaleString().replace(",", "").replace(/:.. /, " ");

            newData = ["formID#002", "Pre-Departure Checklist", crewID, crewType, crewName, shipId, dateInput, nameInput, weatherInput, heightInput, fuelInput, now]

            alert("Thank you, your response has been recorded. You will be redirected to the homepage now.")
            myStorage = window.sessionStorage;

            if (myStorage.form1Data == undefined) {

                myStorage.form1Data = JSON.stringify([newData])
            } else {
                data = JSON.parse(myStorage.form1Data)
                data.push(newData)
                myStorage.form1Data = JSON.stringify(data)
            }
            window.location.href = "./home.html";
        }
    </script>



    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>